.grid {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-gap: 16px;
}

.remove-underline {
  margin: 8px 16px 8px 16px;
  a {
    color: black;
  }
}

.client-title {
  display: flex;
  justify-content: center;
}

.files-section {
  display: grid;
  grid-template-columns: 0.6fr 3fr;
}

.filters {
 display: flex;
 flex-direction: column;
}

.new-file {
  display: flex;

  margin: 16px;
  justify-content: flex-end;
}
