<h1>Here we have a control page for the user </h1>
<h2> Welcome <%=current_user.name%></h2>

<h3>Here we are going to have all the customers and we can access to each of them</h3>
<%= link_to 'Crear un nuevo cliente', '/clients/new' %>

<% @clients.each do |client| %>
  <%= link_to client.name, client_path(client) %>
<% end %>
