<h1>Here we will have all the documents for the clients</h1>
<p>Archivos de <%= @client.name %></p>
<%= link_to "Añadir un archivo", "/clients/:client_id/documents/new"%>

<p>I'm going to show here all the documents for this particular client</p>
