<div class="container">
  <h1>Gestor Contable</h1>
  <h2>Archivos contables ordenados de una manera mas simple y eficiente</h2>
</div>
<div class="container list">
  <ul>
    <li>Eficiencia</li>
    <li>Orden</li>
    <li>Simplicidad</li>
  </ul>
</div>
