// d-flex d-none justify-content-center align-items-center z-10 fixed top-0 left-0
.modal {
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
}

.modal-inner {
  background-color: rgba(0,0,0,0.75);
  height: 100vh;
  width: 100vw;
}

.close {
  height: 20px;
  width: 20px;
  position: absolute;
  top: 21px;
  cursor: pointer;
}